h1 {<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
    </style>

color: red;

font-family: 'Open Sans', sans-serif;
}


header   { 
    background-color: #4D41C0;
    color: #ffff;
}
a, a:hover { 
    text-decoration: nome;
    color: unset;
}

nav {
display: flex;
align-items: center;
justify-content: space-between;


}