
h1 {<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
    </style>


color: red;

font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    white: rgb(255, 0, 0);
}

html, body {
    background-color: var(--bg-gray);

}

header   { 
    background-color: #4D41C0;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;

}
a, a:hover { 
    text-decoration: nome;
    color: unset;
}

nav h1 {

    font-size: 24px;
    font-weight: 700;
}


nav {
display: flex;
align-items: center;
justify-content: space-between;

}

#dsmovie-card-list {                
padding: 40px 0; 
}

.dsmovie-card {
width:360px;
height:400px;

}

.dsmovie-card img { 
    width: 100%;
    border-radius: 8px 8px 0 0;


}
.dsmovie-card-description {
    background-color: white;
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
    
}
.dsmovie-card-description h3 {
   font-size: 14px;
   font-weight: 700;
    margin-bottom: 25px;

}
.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height:40px ;
    background-color: #4D41C0;
color: var(white);
font-size: 14px;
font-weight: 700;
border-radius: 4px;


}